
<div class="container">
  <div class="card">
    <div class="row">
       <div class="col-12 col-md-6 col-lg-3">
        <div class="card card-color">
          <div class="card-description">
      <h3>Add a new dose</h3>
      <%= simple_form_for [cocktail, dose] do |f| %>
      <%= f.association :ingredient, input_html: { class: "beautiful-dropdown" }, include_hidden: false %>
      <%= f.input :description %>
      <%= f.button :submit, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
    </div>
  </div>
</div>
